<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'CSS/style.css' %}"
      type="text/css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOD</title>
  </head>
  <body>
    <nav>
      <ul class="nav justify-content-center" id="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Pending accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Active accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Signout</a>
        </li>
      </ul>
    </nav>
    <hr />
    <div class="content">
      <h4>Pending accounts</h4>
      <hr />
      {% if has_pndg_acct %}
      <form action="{% url 'hod_page' %}" method="POST">
        {% csrf_token %}
        <table class="table table-hover">
          <tr>
            <th>Full name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Active</th>
            <th>Reject</th>
          </tr>
          <tr>
            <td>Mayur Thakar</td>
            <td>proh_gram_er</td>
            <td>mayur@gmail.com</td>
            <td>
              <button type="submit" class="btn btn-primary" name="active">
                Active
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-danger" name="reject">
                Reject
              </button>
            </td>
          </tr>
        </table>
      </form>
      {% endif %}
      <div class="alert alert-secondary" role="alert">
        there is no any pending account
      </div>
    </div>
    <div class="content">
      <h4>Active accounts</h4>
      <hr />
      {% if has_actv_acct %}
      <form action="{% url 'hod_page' %}" method="POST">
        {% csrf_token %}
        <table class="table table-hover">
          <tr>
            <th>Full name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Active</th>
            <th>Deactive</th>
          </tr>
          <tr>
            <td>Mayur Thakar</td>
            <td>proh_gram_er</td>
            <td>mayur@gmail.com</td>
            <td>
              <button type="submit" class="btn btn-primary" name="active">
                Active
              </button>
            </td>
            <td>
              <button type="submit" class="btn btn-secondary" name="deactive">
                Deactive
              </button>
            </td>
          </tr>
        </table>
      </form>
      {% endif %}
      <div class="alert alert-secondary" role="alert">
        there is no any active account
      </div>
    </div>
    {% if annc %}
    <div class="content">
      <h4>Announcements</h4>
      <hr />
      <div class="card border-success mb-3" style="max-width: 18rem">
        <div class="card-header bg-transparent border-success">Header</div>
        <div class="card-body text-success">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <div class="card-footer bg-transparent border-success">Footer</div>
      </div>
    </div>
    {% endif %}
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
