body {
  background-color: whitesmoke;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

#container-signin {
  margin-top: 10em;
}

.container {
  text-align: center;
  width: 40em;
}

.form {
  background-color: white;
  border-radius: 1.5em;
  padding: 2.5em;
}

.form-button {
  margin-top: 1em;
}

.signup-link {
  margin-top: 0.5em;
}
.signup-link a {
  color: gray;
}

.exception {
  color: red;
  margin-top: 1em;
}

.message {
  color: green;
  margin-bottom: 1em;
}
